<ion-view view-title="About Us" >
  <ion-content>

    <header class="w3-container w3-theme w3-padding " id="myHeader">
      <div class="w3-center">
        <h4>Develop By</h4>
        <h1 class="w3-xxxlarge w3-animate-bottom">Sepehr Behnami</h1>
        <div class="w3-padding-hor-32">
          <a class="w3-btn-block w3-indigo" onclick="window.open('https://ir.linkedin.com/in/sepehr-behnami-889ab092', 'location=yes'); return false;"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </header>

    <hr>
    <div class="w3-center">
      <h2>In this application use:</h2>
    </div>
    <br>

    <div class="w3-row-padding w3-center w3-margin-top">

      <a class="w3-third" onclick="window.open('https://cordova.apache.org/', '_system', 'location=yes'); return false;">
        <div class="w3-card-2 w3-padding-top w3-dark-grey" style="min-height:460px">
          <h4>Apache Cordova</h4><br>
          <img src="img/ab_01.png" class="w3-margin-bottom w3-text-theme" >
          <p>Mobile apps with HTML, CSS & JS.</p>
          <p>Target multiple platforms with one code base.</p>
          <p>Free and open source.</p>
        </div>
      </a>



      <a class="w3-third " onclick="window.open('http://ionicframework.com/', '_system', 'location=yes'); return false;">
        <div class="w3-card-2 w3-padding-top w3-light-blue" style="min-height:460px">
          <h4>Ionic Framework</h4><br>
          <img src="img/ionic.png" class="w3-margin-bottom w3-text-theme" >
          <p>Free and open source.</p>
        </div>
      </a>


      <a class="w3-third" onclick="window.open('http://www.w3schools.com/w3css/default.asp', '_system', 'location=yes'); return false;">
        <div class="w3-card-2 w3-padding-top w3-light-green" style="min-height:460px">
          <h4>W3.CSS</h4><br>
          <img src="img/ab_02.png" class="w3-margin-bottom w3-text-theme" >
          <p>W3.CSS is a modern CSS framework with built-in responsiveness.</p>
          <p>W3.CSS is free to use.</p>
        </div>
      </a>

      <a class="w3-third" onclick="window.open('http://leafletjs.com/', '_system', 'location=yes'); return false;">
        <div class="w3-card-2 w3-padding-top w3-deep-orange" style="min-height:460px">
          <h4>leafletjs</h4><br>
          <img src="img/ab_03.png" class="w3-margin-bottom w3-text-theme" >
          <p>An open-source maps JavaScript library.</p>
        </div>
      </a>

      <a class="w3-third" onclick="window.open('http://fontawesome.io/', '_system', 'location=yes'); return false;">
        <div class="w3-card-2 w3-padding-top w3-teal" style="min-height:460px">
          <h4>Font Awesome</h4><br>
          <img src="img/ab_04.png" class="w3-margin-bottom w3-text-theme" >
          <p>The iconic font and CSS toolkit.</p>
        </div>
      </a>

      <a class="w3-third" onclick="window.open('http://fontawesome.io/', '_system', 'location=yes'); return false;">
        <div class="w3-card-2 w3-padding-top w3-aqua" style="min-height:460px">
          <h4>Foursquare API</h4><br>
          <img src="img/ab_05.png" class="w3-margin-bottom w3-text-theme" >
          <p>Search for Places in an Area</p>
        </div>
      </a>

    </div>

  </ion-content>
</ion-view>
